TYPEORM_CONNECTION = mysql
TYPEORM_HOST = host_or_ip
TYPEORM_USERNAME = username
TYPEORM_PASSWORD = password
TYPEORM_DATABASE = database
TYPEORM_PORT = port
TYPEORM_ENTITIES = db/typeorm/entities/*.entity{.ts,.js}
TYPEORM_MIGRATIONS = db/typeorm/migrations/*{.ts,.js}
TYPEORM_MIGRATIONS_RUN = false
TYPEORM_SEEDS = db/typeorm-seeding/seeds/*{.ts,.js}
TYPEORM_FACTORIES = db/typeorm-seeding/factories/*{.ts,.js}
DEFAULT_USER_PASSWORD = password
JWT_SECRET_KEY = secret_key
MAILER_SERVICE_EMAIL = email_address
MAILER_SERVICE_PASSWORD = email_password